@model Anime_Studio.Models.Manga;
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Add a Manga";
}

<form method="post">
    <div class="row p-3 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model.Id != 0)
        {
            title = "Edit Manga";
        }
        <div class="col-12 border-bottom">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-6 pt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Title"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Title" class="form-control"/>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label asp-for="Author"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Author" class="form-control"/>
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label asp-for="Artist"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Artist" class="form-control"/>
                    <span asp-validation-for="Artist" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label asp-for="PublishingCompany"></label>
                </div>
                <div class="col-8">
                    <input asp-for="PublishingCompany" class="form-control"/>
                    <span asp-validation-for="PublishingCompany" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label asp-for="ISBN"></label>
                </div>
                <div class="col-8">
                    <input asp-for="ISBN" class="form-control"/>
                    <span asp-validation-for="ISBN" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label asp-for="Price"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Price" class="form-control"/>
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label asp-for="Cover"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Cover" class="form-control"/>
                    <span asp-validation-for="Cover" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-4">
                    @if (Model.Id != 0)
                    {
                        <partial name="_EditAndBackToListButton" model="Model.Id" />
                    }
                    else
                    {
                        <partial name="_CreateAndBackToListButton" />
                    }
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}


