@{
    ViewData["Title"] = "Home Page";
}


<h1 class="text-center">
    Anime Management System
</h1>
<div class="col-4">
    <p>
        Welcome to my anime management system.
    </p>
    <p>This is the users Page.</p>
</div>